@page "/"
@using Orleans
@using OrleansPlayground.Grains.Interfaces
@inject IClusterClient Client



<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

<p>
    <button class="btn btn-primary" @onclick="Callback">Hello!</button>
</p>

@if (_message != null)
{
    <p>
        Message: @_message
    </p>
}

@code {

    private string _message;
    private string[] _names = new[] { "Jane Doe", "John Doe", "Stan Smith", "Anne Annesen" };

    private async Task Callback()
    {
        var resp = await Client.GetGrain<IHelloWorldGrain>("hello-test").Hello(_names[Random.Shared.Next(0, _names.Length)]);

        _message = resp.Message;
    }
}